<template>
    <div>
        <h1>{{titulo}}</h1>
        <Cartel texto="Holaa"/>
    </div>
</template>

<script>
    import Cartel from "./Cartel.vue";

    export default {
        components: {
            Cartel
        },
        data() {
            return {
                titulo: "Este es un componente de Vue"
            };
        }
    }
</script>